<div class=text-center>
    @model desafioIbid.Models.Produto;

    

    <h2>Editar Produto</h2>

    <form asp-action="Editar">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="Nome" class="control-label"></label>
            <input asp-for="Nome" class="form-control" value="@Model.Nome" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Tipo" class="control-label"></label>
            <input asp-for="Tipo" class="form-control" value="@Model.Tipo" />
            <span asp-validation-for="Tipo" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Preco" class="control-label"></label>
            <input asp-for="Preco" class="form-control" value="@Model.Preco" />
            <span asp-validation-for="Preco" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Confirmar" class="btn btn-primary" style="margin: 20px 0 20px 0"/>
        </div>
    </form>

    <div>
        <a asp-action="Index">Voltar para a lista</a>
    </div>


</div>